<h1>Posts</h1>

<ul>
  <li *ngFor="let post of posts$">
    <h2>{{ post.title }}</h2>
    <p>{{ post.title }}</p>

  </li>
</ul>


<!-- <a routerLink="/details/{{user.id}}">{{ user.name }}</a>

<ul>
  <li>{{ user.email }}</li>
  <li><a href="http://{{ user.website }}">{{ user.website }}</a></li>
</ul> -->
